@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: ". header ." "nav main main" "footer footer footer";
  grid-template-columns: 16.5% 63% 1fr;
  grid-template-rows: 25px 772px 87px;
  grid-gap: 0;
  background-color: #424242;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header, nav, main, footer {
  border: 1px dotted tomato;
  margin: 0;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.header-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation li {
  /*width: 90px;*/
  padding: 2px 27px;
  color: #dbdbdb;
  font: 300 0.8rem "Open Sans";
  text-align: center;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
  cursor: pointer;
}

#is_emphasized-header-item {
  padding: 2px 36px;
  font: 400 1rem "Open sans", sans-serif;
  border-bottom: 3px solid #008bdc;
  background-color: #2b2b2b;
}

.authorisation-block {
  display: flex;
  justify-content: flex-end;
}

.authorisation-block > p, a {
  color: #dbdbdb;
  font: 0.7rem "Open Sans";
  margin: 0;
  padding: 2px 5px;
}

.authorisation-block > p {
  padding: 2px 22px;
  font-weight: 600;
}

/* ********************************    nav   ********************************* */
nav {
  grid-area: nav;
  position: relative;
  background: #2b2b2b;
  background: linear-gradient(0deg, #2b2b2b 0%, #424242 100%);
}

.main-logo {
  position: absolute;
  top: 18px;
  left: 33%;
  margin: 0;
  transform: translateX(-15px);
}

.nav-title {
  position: absolute;
  top: 165px;
  left: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, -18px);
}
.nav-title p {
  margin: 0 0 0 17px;
  font: 300 1.7rem "Open Sans", sans-serif;
  color: #dbdbdb;
}

.side-nav-items {
  position: absolute;
  top: 186px;
  right: 0;
  width: 80%;
  list-style-image: url("../images/folder-grey.png");
  padding: 0;
}
.side-nav-items li {
  list-style-position: inside;
  padding: 16px 0;
  font-weight: 300;
  color: #dbdbdb;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.side-nav-items li span {
  padding-left: 10px;
}
.side-nav-items :nth-child(2) {
  list-style: none;
  padding: 0;
}

.side-pseudo-nav {
  padding: 0 0 3px 20px;
  margin: 0;
  list-style-type: none;
}
.side-pseudo-nav li {
  margin-left: 25px;
  padding: 10px 0;
  font-size: 0.8rem;
  border: none;
}

#is_emphasized-side-item {
  padding-bottom: 10px;
  list-style-image: url("../images/folder-blue.png");
  background-color: #2b2b2b;
  border-bottom: none;
  border-top-width: 2px;
  border-top-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}

.nav-bottom-info {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  padding: 0;
  background: #1d1d1d;
}
.nav-bottom-info p {
  margin: 5px 0;
  text-align: center;
  font-size: 0.6rem;
  color: #dbdbdb;
}
.nav-bottom-info :nth-child(3) {
  margin: 10px 0;
  text-transform: capitalize;
}
.nav-bottom-info div {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid #606060;
}

/* ***********************************    main    ************************************ */
main {
  grid-area: main;
  background: #606060;
}

.main-section {
  width: 74%;
  margin: 18px;
  background: #424242;
}

.playlist-title {
  width: 100%;
  padding: 10px 20px;
  background: #2b2b2b;
  border-top: 3px solid #424242;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.playlist-title h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
  color: #dbdbdb;
}

.album-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}

.more-group-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 11px;
  grid-row-gap: 5px;
  margin-right: 25px;
  width: 256px;
}

.group-biography {
  position: relative;
  width: 33%;
  height: 130px;
  margin: 0 20px;
  font-size: 0.65rem;
  color: #dbdbdb;
  white-space: normal;
  overflow: hidden;
  text-overflow: clip;
}
.group-biography button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7rem;
  background: transparent;
  border: none;
  color: #008bdc;
}

.recommendations-and-playlist {
  position: relative;
  height: 320px;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.recommendations-and-playlist p {
  position: absolute;
  margin: 13px 13px 7px 13px;
  color: #dbdbdb;
}

.recommendations {
  position: absolute;
  top: 40px;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 58%;
}
.recommendations img {
  margin: 10px 7px;
  padding: 0;
  border: 15px solid #2b2b2b;
}

.playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  font-size: 1.3rem;
  color: #dbdbdb;
}
.playlist ol {
  padding: 0;
  margin: 5px 0 0 0;
  list-style-position: inside;
}
.playlist ol li {
  position: relative;
  padding: 0;
  height: 27px;
}
.playlist ol li a {
  vertical-align: middle;
  margin: 0 7px 9px 7px;
}
.playlist ol li p {
  position: absolute;
  right: 37px;
  display: inline-block;
  width: 35px;
  margin: 8px 0 0 0;
  font-size: 0.75rem;
  vertical-align: middle;
  text-align: center;
}
.playlist ol li button {
  position: absolute;
  right: 0;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
}
.playlist ol li::marker {
  color: #dbdbdb;
  font-size: 0.8rem;
}
.playlist ol li:hover {
  background-color: #008bdc;
}

.is_emphasized-playlist-item {
  margin-left: -10px;
  background-color: #008bdc;
  list-style: none;
}

.playlist-pages {
  margin: 7px 0;
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}
.playlist-pages li a {
  padding: 0 1.8px;
  text-decoration: none;
}

#pages-emphasized {
  font-weight: 800;
  text-decoration: underline;
}

/* *****************************************   footer   ************************************************ */
footer {
  grid-area: footer;
  background-color: #2b2b2b;
}

.footercontent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
  height: 60%;
  margin: 10px 10px;
  background-color: #1d1d1d;
  border: 1px dashed gold;
}

.swiper-buttons {
  width: 122px;
  height: 80%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}

.swiper-buttons button {
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 3px;
  border-radius: 100px;
}

.volume-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 80%;
  border-bottom: 1px solid #191919;
}
.volume-block img {
  margin: 0 3px;
}

.volume-range {
  position: relative;
  width: 52px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.volume-blue-part {
  height: 100%;
  width: 70%;
  background-color: #008bdd;
  border-radius: 10px;
}

.volume-slider {
  position: absolute;
  left: 70%;
  transform: translate(-4px, -2px);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid #93cdec;
  background-color: #008bdd;
}

.song-name-block {
  width: 52%;
  border: 1px solid var(--grey);
  padding: 6px 10px;
  position: relative;
  background-color: #343434;
  color: #dbdbdb;
  outline: 1px dotted cyan;
}

.song-author {
  font: 600 10px "Open sans", sans-serif;
  margin: 5px 3px 4px 3px;
}

.song-name {
  width: calc(100% - 55px);
  font: 10px "Open sans", sans-serif;
  margin: 0 3px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-duration {
  position: absolute;
  bottom: 3px;
  right: 25px;
  font: 10px "Open sans", sans-serif;
}

.song-name-block button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 8px;
  padding: 0;
}

.song-name-linker {
  width: 17px;
  height: auto;
}

/*.controller-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80%;
  border-bottom: 1px solid #191919;
}

.controller-range {
  position: relative;
  width: 52px;
  height: 3px;
  background-color: $white;
  border-radius: 10px;
}

.controller-blue-part {
  height: 100%;
  width: 70%;
  background-color: #008bdd;
  border-radius: 10px;
}

.controller-slider {
  position: absolute;
  left: 70%;
  transform: translate(-4px, -2px);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid #93cdec;
  background-color: #008bdd;
}*/
.player-preferences {
  width: 6%;
  border: 1px solid #343434;
}

.player-preferences button {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
}

.player-preferences button img {
  width: 6px;
  box-sizing: content-box;
  margin-top: 3px;
}

.is_active-all-buttons-active:active {
  background-color: dimgray;
}

/*# sourceMappingURL=main.css.map */
