@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: ". header ." "nav main main" "footer footer footer";
  grid-template-columns: 16.5% 63% 1fr;
  grid-template-rows: 25px 772px 87px;
  grid-gap: 0;
  background-color: #424242;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header, nav, main, footer {
  border: 1px dotted tomato;
  margin: 0;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.header-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation li {
  /*width: 90px;*/
  padding: 2px 27px;
  color: #dbdbdb;
  font: 300 0.8rem "Open Sans";
  text-align: center;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
  cursor: pointer;
}

#is_emphasized-header-item {
  padding: 2px 36px;
  font: 400 1rem "Open sans", sans-serif;
  border-bottom: 3px solid #008bdc;
  background-color: #2b2b2b;
}

.authorisation-block {
  display: flex;
  justify-content: flex-end;
}

.authorisation-block > p, a {
  color: #dbdbdb;
  font: 0.7rem "Open Sans";
  margin: 0;
  padding: 2px 5px;
}

.authorisation-block > p {
  padding: 2px 22px;
  font-weight: 600;
}

/* ********************************    nav   ********************************* */
nav {
  grid-area: nav;
  position: relative;
  background: #2b2b2b;
  background: linear-gradient(0deg, #2b2b2b 0%, #424242 100%);
}

.main-logo {
  position: absolute;
  top: 18px;
  left: 33%;
  margin: 0;
  transform: translateX(-15px);
}

.nav-title {
  position: absolute;
  top: 165px;
  left: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, -18px);
}
.nav-title p {
  margin: 0 0 0 17px;
  font: 300 1.7rem "Open Sans", sans-serif;
  color: #dbdbdb;
}

.side-nav-items {
  position: absolute;
  top: 186px;
  right: 0;
  width: 80%;
  list-style-image: url("../images/folder-grey.png");
  padding: 0;
}
.side-nav-items li {
  list-style-position: inside;
  padding: 16px 0;
  font-weight: 300;
  color: #dbdbdb;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.side-nav-items li span {
  padding-left: 10px;
}
.side-nav-items :nth-child(2) {
  list-style: none;
  padding: 0;
}

.side-pseudo-nav {
  padding: 0 0 3px 20px;
  margin: 0;
  list-style-type: none;
}
.side-pseudo-nav li {
  margin-left: 25px;
  padding: 10px 0;
  font-size: 0.8rem;
  border: none;
}

#is_emphasized-side-item {
  padding-bottom: 10px;
  list-style-image: url("../images/folder-blue.png");
  background-color: #2b2b2b;
  border-bottom: none;
  border-top-width: 2px;
  border-top-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}

.nav-bottom-info {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  padding: 0;
  background: #1d1d1d;
}
.nav-bottom-info p {
  margin: 5px 0;
  text-align: center;
  font-size: 0.6rem;
  color: #dbdbdb;
}
.nav-bottom-info :nth-child(3) {
  margin: 10px 0;
  text-transform: capitalize;
}
.nav-bottom-info div {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid #606060;
}

/* ***********************************    main    ************************************ */
main {
  grid-area: main;
  background: #606060;
}

.main-section {
  width: 74%;
  margin: 18px;
  background: #424242;
  outline: 1px solid cyan;
}

.playlist-title {
  width: 100%;
  padding: 10px 20px;
  background: #2b2b2b;
  border-top: 3px solid #424242;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.playlist-title h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
  color: #dbdbdb;
}

.album-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}

.more-group-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 11px;
  grid-row-gap: 5px;
  margin-right: 25px;
  width: 256px;
}

.group-biography {
  position: relative;
  width: 33%;
  height: 130px;
  margin: 0 20px;
  font-size: 0.65rem;
  color: #dbdbdb;
  white-space: normal;
  overflow: hidden;
  text-overflow: clip;
}
.group-biography button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7rem;
  background: transparent;
  border: none;
  color: #008bdc;
}

.recommendations-and-playlist {
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
  outline: 1px dashed lightgreen;
}
.recommendations-and-playlist p {
  margin: 13px 13px 7px 13px;
  color: #dbdbdb;
}

.recommendations {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 58%;
  border: 1px dotted gold;
}
.recommendations img {
  margin: 10px 7px;
  padding: 0;
  border: 15px solid #2b2b2b;
}

.playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  font-size: 1rem;
  color: #dbdbdb;
  border: 1px dotted crimson;
}
.playlist ol {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.playlist ol li {
  position: relative;
  padding: 5px 0;
}
.playlist ol li p {
  position: absolute;
  right: 40px;
  display: inline-block;
  padding: 0 3px;
  margin: auto 0;
  font-size: 0.75rem;
  border-left-width: 2px;
  border-left-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
  outline: 1px solid red;
}
.playlist ol li button {
  position: absolute;
  right: 0;
  padding: 5px 12px;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left-width: 2px;
  border-left-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
  outline: 1px solid lime;
}
.playlist ol li::marker {
  color: #dbdbdb;
  font-size: 0.8rem;
}
.playlist ol li:hover {
  background-color: #008bdc;
}

.playlist-pages {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

footer {
  grid-area: footer;
}

/*# sourceMappingURL=main.css.map */
