@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #606060;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header, nav, main, footer {
  margin: 0;
}

button {
  cursor: pointer;
  transition: transform 0.3s;
}
button:hover {
  transition: transform 0.1s;
  transform: scale(1.1, 1.1);
}

header {
  position: fixed;
  top: 0;
  left: 16.5vw;
  display: inline-flex;
  justify-content: space-between;
  width: 63%;
  height: auto;
  background-color: #424242;
  z-index: 100;
}

.header-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.header-navigation li {
  padding: 3px 27px;
  color: #dbdbdb;
  font: 300 0.8rem "Open Sans";
  text-align: center;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
  cursor: pointer;
  z-index: 100;
}
.header-navigation li.is_emphasized-header-item {
  padding: auto 36px;
  font: 400 1rem "Open sans", sans-serif;
  border-bottom: 3px solid #008bdc;
  background-color: #2b2b2b;
  z-index: 100;
}

.authorisation-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 100;
}

.authorisation-block > p, a {
  color: #dbdbdb;
  font: 0.7rem "Open Sans";
  margin: 0;
  padding: 2px 10px;
  z-index: 100;
}

.authorisation-block > p {
  padding: 2px 22px;
  font-weight: 600;
}

.account-icon {
  display: none;
  width: 17px;
  height: 17px;
  background-image: url(../images/account.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.empty-box {
  position: fixed;
  top: 0;
  left: 16.5vw;
  background-color: #424242;
  width: 100%;
  height: 30px;
}

.side-nav-toggler {
  display: none;
  width: 50px;
  height: 40px;
}
.side-nav-toggler button {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
  background-color: transparent;
}
.side-nav-toggler .toggle-button__bar {
  width: 100%;
  height: 3px;
  background: #1d1d1d;
  display: block;
  margin: 9px 0;
  border-radius: 10px;
}

/* ********************************    nav   ********************************* */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 16.5vw;
  height: 90vh;
  background: linear-gradient(0deg, #2b2b2b 0%, #424242 100%);
}

.main-logo {
  margin-top: 40px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-title p {
  margin: 0 0 0 17px;
  font: 300 1.7rem "Open Sans", sans-serif;
  color: #dbdbdb;
}

.side-nav-items {
  align-self: flex-end;
  width: 90%;
  height: 44vh;
  list-style-image: url("../images/folder-grey.png");
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.side-nav-items::-webkit-scrollbar {
  display: none;
}
.side-nav-items li {
  list-style-position: inside;
  padding: 16px 25px;
  font-weight: 300;
  color: #dbdbdb;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.side-nav-items li span {
  padding-left: 10px;
}
.side-nav-items :nth-child(2) {
  list-style: none;
  padding: 0;
}

.side-pseudo-nav {
  padding: 0 0 3px 45px;
  margin: 0;
  list-style-type: none;
}
.side-pseudo-nav li {
  margin-left: 25px;
  padding: 10px 0;
  font-size: 0.8rem;
  border: none;
}

#is_emphasized-side-item {
  padding-bottom: 10px;
  list-style-image: url("../images/folder-blue.png");
  background-color: #2b2b2b;
  border-bottom: none;
  border-top-width: 2px;
  border-top-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}

.nav-bottom-info {
  width: 90%;
  padding: 0;
  background: #1d1d1d;
}
.nav-bottom-info p {
  margin: 5px 0;
  text-align: center;
  font-size: 0.6rem;
  color: #dbdbdb;
}
.nav-bottom-info :nth-child(3) {
  margin: 10px 0;
  text-transform: capitalize;
}
.nav-bottom-info div {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid #606060;
}

.right-frame {
  position: fixed;
  top: 0;
  right: 0;
  width: 1vw;
  height: 90vh;
  background: linear-gradient(0deg, #2b2b2b 0%, #424242 100%);
}

/* ***********************************    main    ************************************ */
main {
  grid-area: main;
  background: #606060;
  z-index: 99;
}

.main-section {
  width: 74%;
  margin: 18px;
  background: #424242;
}

.playlist-title {
  width: 100%;
  padding: 10px 20px;
  background: #2b2b2b;
  border-top: 3px solid #424242;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.playlist-title h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
  color: #dbdbdb;
}

.album-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.album-info > img {
  margin-right: 15px;
}

.more-group-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 11px;
  grid-row-gap: 5px;
  margin-right: 25px;
  width: 256px;
}

.group-biography {
  position: relative;
  width: 33%;
  height: 130px;
  margin: 0 20px;
  font-size: 0.65rem;
  color: #dbdbdb;
  white-space: normal;
  overflow: hidden;
  text-overflow: clip;
}
.group-biography button {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7rem;
  background: transparent;
  border: none;
  color: #008bdc;
}

@media only screen and (max-width: 1406px) {
  .group-biography {
    height: 150px;
  }
}
.recommendations-and-playlist {
  position: relative;
  height: 320px;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.recommendations-and-playlist p {
  position: absolute;
  margin: 13px 13px 7px 13px;
  color: #dbdbdb;
}

.recommendations {
  position: absolute;
  top: 40px;
  left: 5px;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 58%;
}
.recommendations img {
  margin: 10px 7px;
  padding: 0;
  border: 15px solid #2b2b2b;
}

@media only screen and (max-width: 1497px) {
  .recommendations img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 1051px) {
  .recommendations-and-playlist {
    height: 400px;
  }
}
.playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  font-size: 1.3rem;
  color: #dbdbdb;
}
.playlist ol {
  padding: 0;
  margin: 5px 0 0 0;
  list-style-position: inside;
}
.playlist ol li {
  position: relative;
  padding: 0;
  height: 27px;
}
.playlist ol li a {
  vertical-align: middle;
  margin: 0 7px 9px 7px;
}
.playlist ol li p {
  position: absolute;
  right: 37px;
  display: inline-block;
  width: 35px;
  margin: 8px 0 0 0;
  font-size: 0.75rem;
  vertical-align: middle;
  text-align: center;
}
.playlist ol li button {
  position: absolute;
  right: 0;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
}
.playlist ol li::marker {
  color: #dbdbdb;
  font-size: 0.8rem;
}
.playlist ol li:hover {
  background-color: #008bdc;
}

.is_emphasized-playlist-item {
  margin-left: -10px;
  background-color: #008bdc;
  list-style: none;
}

.playlist-pages {
  margin: 7px 0;
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  font-weight: 300;
}
.playlist-pages li a {
  padding: 0 1.8px;
  text-decoration: none;
}

#pages-emphasized {
  font-weight: 800;
  text-decoration: underline;
}

@media only screen and (max-width: 1326px) {
  .album-info {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .more-group-images {
    margin-right: 0;
  }

  .group-biography {
    width: 76%;
    height: auto;
    margin: 20px 0 0 0;
    text-align: justify;
  }
  .group-biography button {
    position: static;
  }

  .recommendations img {
    width: 90px;
    height: 90px;
    border-width: 6px;
  }
}
/* *****************************************   footer   ************************************************ */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #2b2b2b;
}

.footercontent {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 98%;
  height: 70%;
  padding: 5px 0;
  margin: 15px 10px;
  background-color: #1d1d1d;
}

.swiper-buttons {
  height: 80%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: #474747;
}

.swiper-buttons button {
  padding: 0;
  margin: 0 3px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
}

.prev-swiper-button {
  width: 21px;
  height: 21px;
  background-image: url(../images/prev.png);
  background-size: 100% 100%;
}

.play-button {
  width: 28px;
  height: 28px;
  background-image: url(../images/play.png);
  background-size: cover;
}

.next-swiper-button {
  width: 21px;
  height: 21px;
  background-image: url(../images/next.png);
  background-size: 100% 100%;
}

.volume-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 80%;
  padding: 0 10px;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: #474747;
}
.volume-block button {
  margin: 0 5px;
  background-color: transparent;
  border: none;
}

.volume-low {
  width: 6px;
  height: 9px;
  padding: 0;
  background-image: url(../images/vol0.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.volume-high {
  width: 12px;
  height: 10px;
  background-image: url(../images/vol100.png);
  background-size: 12px 10px;
  background-repeat: no-repeat;
}

.volume-range {
  position: relative;
  width: 52px;
  height: 3px;
  background-color: #dbdbdb;
  border-radius: 10px;
}

.volume-blue-part {
  height: 100%;
  width: 70%;
  background-color: #008bdd;
  border-radius: 10px;
}

.volume-slider {
  position: absolute;
  left: 70%;
  transform: translate(-4px, -2px);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid #93cdec;
  background-color: #008bdd;
}

.name-and-controller {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 80%;
  color: #dbdbdb;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: #474747;
}

.current-album-cover {
  position: absolute;
  top: -58px;
  left: 14px;
  border: 7px solid #1d1d1d;
  border-radius: 7px;
  z-index: 100;
}

.song-name-block {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.song-author {
  width: auto;
  margin: 0 0 0 18px;
  font: 600 10px "Open Sans", sans-serif;
  letter-spacing: 0.8px;
}

.song-name {
  display: inline-block;
  width: 150px;
  margin: 0;
  font: 300 10px "Open Sans", sans-serif;
  letter-spacing: 0.4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-duration {
  margin: 0 5px;
  font: 10px "Open sans", sans-serif;
}

.song-name-block button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 8px;
  padding: 0;
}

.controller-full-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controller-block {
  width: 89%;
  position: relative;
  margin: 15px 16px 0 16px;
  border-bottom: 1px solid #191919;
  height: 23px;
}

.controller-range {
  border: 4px solid black;
  background-color: #dbdbdb;
  width: 100%;
  height: 11px;
}

.controller-blue-part {
  height: 100%;
  width: 75%;
  background-color: #008bdd;
}

.controller-slider {
  position: absolute;
  left: 74.7%;
  transform: translate(-4px, -2px);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid #93cdec;
  background-color: #008bdd;
  z-index: 100;
}

.track-time {
  position: absolute;
  top: -36px;
  left: 74.7%;
  transform: translateX(-29px);
  display: flex;
  justify-content: center;
  width: 60px;
  height: 43px;
  background-image: url("../images/track-time-bg.png");
  z-index: 99;
}
.track-time p {
  margin: 10px auto;
  font-size: 11px;
  font-weight: 600;
  color: #1d1d1d;
}

.side-track-time {
  width: auto;
  height: auto;
  margin-right: 10px;
  padding: 0 12px;
  background-color: black;
}
.side-track-time p {
  margin: 0;
  font-size: 8px;
}

.shuffle-repeat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  padding: 0 12px;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: #474747;
}
.shuffle-repeat button {
  border: none;
  background-color: transparent;
  padding: 0 3px;
}

.adding-to-playlists {
  position: relative;
  display: inline-block;
  height: 80%;
  padding: 0 30px;
}
.adding-to-playlists ul {
  position: absolute;
  top: -180px;
  left: -80%;
  width: 148px;
  height: 160px;
  padding: 7px 10px;
  margin: 0;
  list-style-type: none;
  z-index: 101;
  background-color: #2b2b2b;
}
.adding-to-playlists li {
  padding: 6px 0;
  border-bottom-style: groove;
  border-color: rgba(100, 100, 100, 0.7);
}
.adding-to-playlists button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #dbdbdb;
}

.is_add-to-playlist {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  background-color: transparent;
}

.now-playing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 80%;
  padding: 0 20px;
  background-color: transparent;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left-width: 2px;
  border-style: groove;
  border-color: #474747;
}
.now-playing p {
  width: 115px;
  margin: 0 20px 0 0;
  font: 300 20px "open sans", sans-serif;
  color: grey;
}

/* ******************************************   media queries   ************************************** */
@media only screen and (max-width: 1177px) {
  .nav-title {
    flex-direction: column;
    top: 145px;
    left: 20%;
  }
  .nav-title p {
    margin: 0;
  }

  .main-section {
    width: 90%;
  }

  .group-biography {
    padding-left: 20px;
    width: 30%;
  }

  .recommendations-and-playlist {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 460px;
  }
  .recommendations-and-playlist p {
    position: static;
  }

  .recommendations {
    position: static;
    width: 95%;
    margin: 0 auto;
    outline: 1px dashed cyan;
  }
  .recommendations img {
    width: 70px;
    height: 70px;
    border-width: 6px;
  }

  .playlist {
    position: static;
    width: 95%;
    padding-left: 20px;
    margin: 0 auto;
  }

  .playlist-pages {
    right: 100px;
  }
}
@media only screen and (max-width: 1366px) {
  .now-playing p {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  nav {
    height: 88vh;
  }

  .nav-bottom-info {
    transform: translateY(-30px);
  }

  footer {
    height: 16vh;
  }

  .footercontent {
    position: relative;
    align-items: flex-start;
    height: 80%;
  }

  .name-and-controller {
    position: absolute;
    top: 45px;
    left: 0;
    height: 45%;
    padding-top: 7px;
    border-right: none;
    border-top-width: 2px;
    border-top-style: groove;
    border-color: #474747;
  }

  .current-album-cover {
    display: none;
  }

  .side-track-time {
    top: 50%;
    right: 30px;
  }

  .swiper-buttons {
    height: 40%;
  }

  .volume-block {
    width: 110px;
    height: 40%;
    padding: 0 5px;
  }

  .shuffle-repeat {
    height: 40%;
  }

  .is_add-to-playlist {
    display: none;
  }

  .adding-to-playlists {
    width: 60%;
    height: 40%;
    padding: 0;
  }
  .adding-to-playlists ul {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: auto;
    height: 100%;
  }
  .adding-to-playlists li {
    border-bottom: none;
  }

  .now-playing {
    height: 40%;
    padding: 0 12px;
    border: none;
  }
  .now-playing p {
    display: inline-block;
    width: 91px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 1024px) {
  .header-navigation li {
    padding: 8px 27px;
  }

  .authorisation-block p {
    display: none;
  }

  .account-icon {
    display: inline-block;
  }

  .empty-box {
    visibility: hidden;
  }

  nav {
    display: none;
  }

  .side-nav-toggler {
    display: block;
    margin: 0 5px;
  }

  .side-track-time {
    top: 50%;
    right: 20px;
  }

  .now-playing {
    padding: 0 18px;
  }
  .now-playing p {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  header {
    left: 0;
  }

  .swiper-buttons {
    width: 250px;
  }

  .volume-block {
    width: 250px;
  }

  .volume-range {
    width: 150px;
  }

  .adding-to-playlists {
    position: relative;
    display: inline-block;
    height: 40%;
    padding: 0 5px;
    border-right-style: groove;
    border-color: rgba(100, 100, 100, 0.7);
  }
  .adding-to-playlists ul {
    position: absolute;
    top: -180px;
    left: 10;
    display: block;
    width: 148px;
    height: 160px;
    padding: 7px 10px;
    margin: 0;
    list-style-type: none;
    z-index: 101;
    background-color: #2b2b2b;
  }
  .adding-to-playlists li {
    padding: 6px 0;
    border-bottom-style: groove;
    border-color: rgba(100, 100, 100, 0.7);
  }
  .adding-to-playlists .is_add-to-playlist {
    display: block;
  }

  .now-playing {
    padding: 0 20px;
  }
  .now-playing p {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
