@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

$darker: #1d1d1d;
$darkgrey: #2b2b2b;
$grey: #424242;
$lightgrey: #606060;
$white: #dbdbdb;
$blue: #008bdc;

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: ". header ."
                         "nav main main"
                         "footer footer footer";
  grid-template-columns: 16.5% 63% 1fr;
  grid-template-rows: 25px 772px 87px;
  grid-gap: 0;
  background-color: $grey;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header, nav, main, footer {
  border: 1px dotted tomato;
  margin: 0;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.header-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation li {
  /*width: 90px;*/
  padding: 2px 27px;
  color: $white;
  font: 300 .8rem "Open Sans";
  text-align: center;
  border-right-width: 2px;
  border-right-style: groove;
  border-color: rgba(100,100,100,0.7);
  cursor: pointer;
}

#is_emphasized-header-item {
  padding: 2px 36px;
  font: 400 1rem "Open sans", sans-serif;
  border-bottom: 3px solid $blue;
  background-color: $darkgrey;
}

.authorisation-block {
  display: flex;
  justify-content: flex-end;
}

.authorisation-block > p, a {
  color: $white;
  font: .7rem "Open Sans";
  margin: 0;
  padding: 2px 5px;
}

.authorisation-block > p {
  padding: 2px 22px;
  font-weight: 600;
}


/* ********************************    nav   ********************************* */



nav {
  grid-area: nav;
  position: relative;
  background: rgb(43,43,43);
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(66,66,66,1) 100%);
}

.main-logo {
  position: absolute;
  top: 18px;
  left: 33%;
  margin: 0;
  transform: translateX(-15px);
}

.nav-title {
  position: absolute;
  top: 165px;
  left: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, -18px);

  p {
    margin: 0 0 0 17px;
    font: 300 1.7rem "Open Sans", sans-serif;
    color: $white;
  }
}

.side-nav-items {
  position: absolute;
  top: 186px;
  right: 0;
  width: 80%;
  list-style-image: url("../../../images/folder-grey.png");
  padding: 0;

  li {
    list-style-position: inside;
    padding: 16px 0;
    font-weight: 300;
    color: $white;
    border-bottom-width: 2px;
    border-bottom-style: groove;
    border-color: rgba(100,100,100,0.7);

    span {
      padding-left: 10px;
    }
  }

  :nth-child(2) {
    list-style: none;
    padding: 0;
  }
}

.side-pseudo-nav {
  padding: 0 0 3px 20px;
  margin: 0;
  list-style-type: none;

  li {
    margin-left: 25px;
    padding: 10px 0;
    font-size: .8rem;
    border: none;
  }
}

#is_emphasized-side-item {
  padding-bottom: 10px;
  list-style-image: url("../../../images/folder-blue.png");
  background-color: $darkgrey;
  border-bottom: none;
  border-top-width: 2px;
  border-top-style: groove;
  border-color: rgba(100,100,100,0.7);
}

.nav-bottom-info {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  padding: 0;
  background: $darker;

  p {
    margin: 5px 0;
    text-align: center;
    font-size: .6rem;
    color: $white;
  }

  :nth-child(3) {
    margin: 10px 0;
    text-transform: capitalize;
  }

  div {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid $lightgrey;
  }
}


/* ***********************************    main    ************************************ */


main {
  grid-area: main;
  background: $lightgrey;
}

.main-section {
  width: 74%;
  margin: 18px;
  background: $grey;
  outline: 1px solid cyan;
}

.playlist-title {
  width: 100%;
  padding: 10px 20px;
  background: $darkgrey;
  border-top: 3px solid $grey;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100,100,100,0.7);

  h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 300;
    color: $white;
  }
}


.album-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100,100,100,0.7);
}

.more-group-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 11px;
  grid-row-gap: 5px;
  margin-right: 25px;
  width: 256px;
}

.group-biography {
  position: relative;
  width: 33%;
  height: 130px;
  margin: 0 20px;
  font-size: 0.65rem;
  color: $white;
  white-space: normal;
  overflow: hidden;
  text-overflow: clip;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7rem;
    background: transparent;
    border: none;
    color: $blue;
  }
}


.recommendations-and-playlist {
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100,100,100,0.7);
  outline: 1px dashed lightgreen;

  p {
    margin: 13px 13px 7px 13px;
    color: $white;
  }
}


.recommendations {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 58%;
  border: 1px dotted gold;

  img {
    margin: 10px 7px;
    padding: 0;
    border: 15px solid $darkgrey;
  }
}


.playlist {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  font-size: 1rem;
  color: $white;
  border: 1px dotted crimson;

  li::marker {
    color: $white;
    font-size: .7rem;
  }

  ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
}

.playlist-pages {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}












footer {
  grid-area: footer;
}