@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ga21hf');
  src:  url('../fonts/icomoon.eot?ga21hf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?ga21hf') format('truetype'),
  url('../fonts/icomoon.woff?ga21hf') format('woff'),
  url('../fonts/icomoon.svg?ga21hf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e971";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-backward:before {
  content: "\ea1a";
}
.icon-forward2:before {
  content: "\ea1b";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute:before {
  content: "\ea29";
}



$darker: #1d1d1d;
$darkgrey: #2b2b2b;
$grey: #424242;
$lightgrey: #606060;
$white: #dbdbdb;
$blue: #008bdc;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $lightgrey;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header, .side-nav, main, .player {
  margin: 0;
}

button {
  cursor: pointer;
  transition: transform .3s;

  &:hover {
    transition: transform .1s;
	  transform: scale(1.2,1.2);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: $grey;
  z-index: 1;
}


.nav-and-authorisation {
  display: flex;
  justify-content: space-between;
  max-width: 1244px;
}


.side-nav-toggle {
  position: static;
  display: none;
  min-width: 48px;
  height: 33px;
  transform: translateY(-3px);

  button {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    border: none;
    background-color: transparent;
  }

  .toggle-button__bar {
    width: 100%;
    height: 3px;
    background: $white;
    display: block;
    margin: 7px 0;
    border-radius: 10px;
  }
}


.header-navigation {

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 40vw;
    min-width: 40vw;
    list-style: none;
    margin: 0 0 0 16.5vw;
    padding: 0;

    overflow-x: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  a {
    height: 25px;
    padding: 3px 30px;
    color: $white;
    font: 300 .8rem "Open Sans";
    text-align: center;
    text-decoration: none;
    word-break: keep-all;
    overflow-wrap: normal;
    border-right-width: 2px;
    border-right-style: groove;
    border-color: rgba(100,100,100,0.7);
    cursor: pointer;

    &.is_open {
      height: 28px;
      padding: 3px 36px;
      font: 400 1rem "Open sans", sans-serif;
      border-bottom: 3px solid $blue;
      background-color: $darkgrey;
    }
  }
}


.authorisation-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.authorisation-block p, a {
  color: $white;
  font: .7rem "Open Sans";
  margin: 0 auto;
}

.authorisation-block p {
  padding: 1px 21px;
  font-weight: 600;
}

.account-icon {
  height: 100%;
  padding: 2px 0;
  span {
    display: none;
    font-size: 20px;
  }
}


.logout-button {
  padding: 2px 9px;
  margin-bottom: 5px;
}



/* ********************************    side-nav   ********************************* */




.side-nav {
  position: fixed;
  top: 25px;
  left: 0;
  bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 16.5vw;
  min-width: 252px;
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(66,66,66,1) 100%);
  z-index: 1;
}

.side-nav.open {
  display: flex;
  width: auto;
  max-width: 500px;
  min-width: 300px;
}

.main-logo {
  transform: translateX(-16px);
  margin: 18px 0 58px 0;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 300px;
}

.nav-title {
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0 24px;

  p {
    margin: 0 0 0 17px;
    font: 300 1.7rem "Open Sans", sans-serif;
    color: $white;
  }
}

.side-nav-items {
  align-self: flex-end;
  flex: 1;
  width: 90%;
  list-style-image: url("../images/folder-grey.png");
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    position: relative;
    list-style-position: inside;
    padding: 16px 25px;
    font-weight: 300;
    color: $white;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background-color: $darkgrey;
    }

    &::after, &.is_emphasized-side-item::before {
      position: absolute;
      left: 9%;
      right: 0;
      bottom: 0;
      display: inline-block;
      content: "";
      height: 2px;
      border-bottom-width: 2px;
      border-bottom-style: groove;
      border-color: rgba(100,100,100,0.7);
    }


    span {
      padding-left: 10px;
    }

    &.is_emphasized-side-item {
      padding-bottom: 10px;
      list-style-image: url("../images/folder-blue.png");
      background-color: $darkgrey;
      border-bottom: none;

      ul {
        padding: 18px 0 0 23px;
        li {
          list-style: none;
          padding: 5px 0;
        }
      }

      &::before {
        top: -2px;
      }

      li::after {
        border: none;
      }
    }
  }
}


.side-pseudo-nav {
  margin: 0;
  list-style-type: none;


  li {
    width: 95%;
    margin-left: 25px;
    padding: 10px 0;
    font-size: .8rem;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.nav-bottom-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 89%;
  padding: 0 5px;
  transform: translate(1px, 3px);
  background: $darker;

  p {
    width: 260px;
    margin: 5px 0 5px 8px;
    text-align: center;
    font-size: .6rem;
    color: $white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  :nth-child(3) {
    margin: 11px 0;
    text-transform: capitalize;
  }

  div {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid $lightgrey;
  }
}


.right-frame {
  position: fixed;
  top: 25px;
  right: 0;
  bottom: 72px;
  width: 15px;
  background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(66,66,66,1) 100%);
}






/* ***********************************    main    ************************************ */






main {
  padding: 44px 40px 100px 18vw;
  background: $lightgrey;
}

.main-section {
  max-width: 940px;
  background: $grey;
}

.playlist-title {
  width: 100%;
  padding: 7px 22px;
  background: $darkgrey;
  border-top: 3px solid $grey;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100,100,100,0.7);

  h1 {
    margin: 0 0 6px 0;
    font-size: 1.7rem;
    font-weight: 300;
    color: $white;
  }
}





.album-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 11px 15px 11px;
  margin: 0;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100,100,100,0.7);

  > img {
    margin-right: 15px;
  }
}


.more-group-images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 11px;
  grid-row-gap: 5px;
  margin-right: 41px;
  width: 256px;
}

.group-biography {
  position: relative;
  width: 33%;
  height: 130px;
  margin: 0 20px;
  font-size: 0.65rem;
  line-height: 17px;
  letter-spacing: 0.05px;
  color: $white;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 0;

  button {
    position: absolute;
    bottom: -1px;
    right: 4px;
    font-size: 0.7rem;
    background: transparent;
    border: none;
    color: $blue;
  }
}


.recommendations-and-playlist {
  position: relative;
  //height: 335px;
  border-bottom-width: 2px;
  border-bottom-style: groove;
  border-color: rgba(100,100,100,0.7);

  .discography {
    margin: 14px 13px 8px 13px;
    color: $white;
  }
}


.recommendations {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 535px;
  margin: 0 0 0 5px;

  img {
    margin: 10px 0 16px 7px;
    padding: 0;
    border-width: 12px 15px;
    border-style: solid;
    border-color: $darkgrey;
  }
}



.playlist {
  position: absolute;
  top: -6px;
  right: 3px;
  width: 35%;
  height: 100%;
  color: $white;

  ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;

    li {
      position: relative;
      padding: 2.7px 3px;
    }

    li a {
      display: inline-block;
      position: absolute;
      font-size: 12px;
      bottom: 3px;
      padding-left: 14px;
      text-decoration: none;
    }

    li p {
      position: absolute;
      right: 40px;
      top: -5px;
      display: inline-block;
      width: 35px;
      font-size: .75rem;
      text-align: right;
    }

    li button {
      position: absolute;
      height: 100%;
      width: auto;
      right: 7px;
      padding: 8px 10px;
      background-color: transparent;
      background-image: url("../images/plus-grey.png");
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
    }

    li::marker {
      color: $white;
      font-size: .8rem;
    }

    li:hover {
      background-color: $blue;
    }
  }
}

.playlist li.is_now-playing {
  margin-left: -10px;
  background-color: $blue;
  list-style: none;

  a {
    bottom: 6px;
  }
}


.playlist-pages {
  margin: 7px 0;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  font-weight: 300;

  li a {
    padding: 0 1.8px;
    text-decoration: none;

    &.pages-emphasized {
      font-weight: 800;
      text-decoration: underline;
    }
  }
}






/* *****************************************   player   ************************************************ */



.player {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 72px;
  min-height: 72px;
  background-color: $darkgrey;
}


.player-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  height: 70%;
  padding: 5px 0;
  margin: 15px 10px;
  list-style-type: none;
  background-color: $darker;

  >li {
    display: flex;
    height: 80%;
    border-right-width: 2px;
    border-right-style: groove;
    border-color: rgba(71, 71, 71, 1);

    &:nth-child(6) {
      border: none;
    }
  }
}

.swiper-buttons {
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 20px;

}

.swiper-buttons button {
  padding: 0;
  margin: 0 3px;
  background-color: transparent;
  border: none;
  border-radius: 100px;
}

.prev-swiper-button {
  width: 21px;
  height: 21px;
  background-image: url(../images/prev.png);
  background-size: 100% 100%;
}

.play-button {
  width: 28px;
  height: 28px;
  background-image: url(../images/play.png);
  background-size: cover;
}

.next-swiper-button {
  width: 21px;
  height: 21px;
  background-image: url(../images/next.png);
  background-size: 100% 100%;
}







.volume-block {
  justify-content: center;
  align-items: center;
  padding: 0 14px 0 10px;

  button {
    margin: 0 4px;
    background-color: transparent;
    border: none;
  }
}

.volume-low {
  width: 6px;
  height: 9px;
  padding: 0;
  background-image: url(../images/vol0.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.volume-high {
  width: 12px;
  height: 10px;
  background-image: url(../images/vol100.png);
  background-size: 12px 10px;
  background-repeat: no-repeat;
}


.volume-range {
  position: relative;
  width: 52px;
  height: 3px;
  background-color: $white;
  border-radius: 10px;
}

.volume-blue-part {
  height: 100%;
  width: 70%;
  background-color: #008bdd;
  border-radius: 10px;
}

.volume-slider {
  position: absolute;
  left: 70%;
  transform: translate(-4px, -2px);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid #93cdec;
  background-color: #008bdd;
}






.name-and-controller {
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  color: $white;
}

.current-album-cover {
  position: absolute;
  bottom: 35px;
  left: 14px;
  border: 7px solid $darker;
  border-radius: 7px;
  z-index: 2;
}

.song-name-block {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: -3px;
}

.song-author {
  width: auto;
  margin: 0 0 0 18px;
  font: 600 10px "Open Sans", sans-serif;
  letter-spacing: .8px;
}

.song-name {
  display: inline-block;
  width: calc(100% - 210px);
  margin: 0;
  font: 300 10px "Open Sans", sans-serif;
  letter-spacing: .4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.song-duration {
  margin: 0 10px 0 5px;
  font: 10px "Open sans",sans-serif;
}

.song-name-block button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 8px;
  padding: 0;
}




.controller-full-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.controller-block {
  width: 89%;
  position: relative;
  margin: 1px 16px 0 16px;
  border-bottom: 1px solid #191919;
  height: 23px;
}

.controller-range {
  border: 4px solid black;
  background-color: $white;
  width: 100%;
  height: 11px;
}

.controller-blue-part {
  height: 100%;
  width: 75%;
  background-color: #008bdd;
}

.controller-slider {
  position: absolute;
  left: 75%;
  transform: translate(-4px, -2px);
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid #93cdec;
  background-color: #008bdd;
}


.track-time {
  position: absolute;
  top: -36px;
  left: 75%;
  transform: translateX(-29px);
  display: flex;
  justify-content: center;
  width: 60px;
  height: 43px;
  background-image: url("../images/track-time-bg.png");
  background-size: 54px 39px;
  background-repeat: no-repeat;
  background-position: center;

  p {
    margin: 10px auto;
    font-size: 11px;
    font-weight: 600;
    color: $darker;
  }
}


.side-track-time {
  width: auto;
  height: auto;
  margin-right: 12px;
  padding: 0 14px;
  background-color: black;

  p {
    margin: 0;
    font-size: 8px;
  }
}




.shuffle-repeat {
  justify-content: space-between;
  align-items: center;
  padding: 0 11px;

  button {
    width: 26px;
    height: 26px;
    margin: 0 4px;
    border: none;
    background-color: transparent;
    background-size: contain;
  }

  button:nth-child(1) {
    background-image: url("../images/shuffle.png");
  }

  button:nth-child(2) {
    background-image: url("../images/repeat.png");
  }
}




.adding-to-playlists {
  position: relative;
  display: inline-block;
  padding: 0 29px;

  ul {
    position: absolute;
    bottom: 56px;
    left: -84%;
    width: 150px;
    padding: 4px 10px 7px 10px;
    margin: 0;
    list-style-type: none;
    z-index: 101;
    background-color: $darkgrey;
  }

  li {
    padding: 7px 0 5px 0;
    border-bottom-style: groove;
    border-color: rgba(100,100,100,0.7);
  }

  button {
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: $white;
  }

  .is_open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    background: transparent url("../images/plus-blue.png") no-repeat center;
    background-size: auto;
  }
}




.now-playing {
  padding: 0;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    padding: 0 49px 0 42px;
    background-color: transparent;
    border: none;
  }

  p {
    width: 115px;
    margin: 0 13px 8px 0;
    font: 300 20px "open sans", sans-serif;
    color: grey;
  }

  a {
    width: 35px;
    height: 37px;
    padding: 0;
    margin-bottom: 6px;
    background-image: url("../images/now-playing.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}


/* ******************************************   media queries   ************************************** */


@media only screen and (max-width: 1580px) {
  .header-navigation nav {
    margin-left: 245px;
  }

  main {
    padding-left: 268px;
  }
}




@media only screen and (max-width: 1366px) {

  .group-biography {
    height: 150px;
  }

  .now-playing {
    p {
      display: none;
    }
  }
}




@media only screen and (max-width: 1326px) {

  .authorisation-block {
    margin-right: 26px;
  }

  .album-info {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .more-group-images {
    margin-right: 0;
  }

  .group-biography {
    height: auto;
    margin: 20px 0 0 0;
    text-align: justify;

    button {
      position: static;
    }
  }

  .recommendations {
    img {
      width: 90px;
      height: 90px;
      border-width: 6px;
    }
  }



  .group-biography {
    padding-left: 20px;
    //width: 30%;
  }

  .recommendations-and-playlist {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //height: 480px;

    .discography {
      position: static;
    }
  }

  .recommendations {
    position: static;
    width: 95%;
    margin: 0 auto;
    //outline: 1px dashed cyan;

    img {
      width: 70px;
      height: 70px;
      border-width: 6px;
    }
  }

  .playlist {
    position: static;
    width: 95%;
    padding-left: 20px;
    margin: 0 auto;
  }

  .playlist-pages {
    right: 207px;
  }
}






@media only screen and (max-width: 1148px) {

  header {
    left: 0;
    width: 100%;
  }


  .side-nav-toggle {
    display: inline-block;
    margin: auto 5px;
  }

  .header-navigation {
    nav {
      min-width: 60vw;
      margin: 0;
    }

    a {
      padding: 8px 27px;
    }
  }

  .authorisation-block {

    margin-right: 10px;

    p {
      display: none;
    }
  }

  .account-icon span {
    display: inline-block;
  }

  .side-nav {
    display: none;
    top: 34px;
  }

  .nav-title {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 0 3px 32px;

    p {
      margin: 0 0 0 17px;
      font: 300 1.7rem "Open Sans", sans-serif;
      color: $white;
    }
  }


  main {
    padding: 0 30px;
    margin: 80px auto 120px auto;
  }

  .main-section {
    width: 100%;
  }

  .side-track-time {
    top: 50%;
    right: 20px;
  }

  .now-playing {
    padding: 0 18px;
    p {
      display: none;
    }
  }
}



@media only screen and (max-width: 1051px) {

  .group-biography {
    width: 90%;
  }
  .recommendations-and-playlist {
    //height: 500px;
  }
}



@media only screen and (max-width: 850px) {

  .header-navigation a:nth-child(4) {
    border: none;
  }

  .side-nav {
    bottom: 93px;
  }

  .nav-bottom-info {
    transform: translateY(-30px);
  }

  .player {
    display: block;
    height: 93px;
  }

  .player-content {
    position: relative;
    align-items: flex-start;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto;

    >li {
      height: 35%;
    }
  }

  .name-and-controller {
    position: absolute;
    top: 50%;
    left: 0;
    height: 20%;
    padding-top: 7px;
    border-right: none;
    border-top-width: 2px;
    border-top-style: groove;
    border-color: rgba(71, 71, 71, 1);
  }

  .current-album-cover {
    bottom: 35px;
    border: none;
    width: 40px;
    height: 40px;
  }

  .side-track-time {
    right: 30px;
  }

  .swiper-buttons {
    height: 35%;
    margin-left: 60px;
  }

  .volume-block {
    width: 110px;
    height: 35%;
    padding: 0 5px;
  }

  .shuffle-repeat {
    height: 35%;
  }

  .adding-to-playlists {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 40px;
    height: 35%;
    padding: 0 5px;
    border-right-style: groove;
    border-color: rgba(100, 100, 100, 0.7);

    ul {
      position: absolute;
      bottom: 35px;
      left: 0;
      display: block;
      width: 100%;
      min-width: 148px;
      height: 160px;
      padding: 7px 10px;
      margin: 0;
      list-style-type: none;
      z-index: 101;
      background-color: $darker;
    }

    li {
      padding: 6px 0;
      border-bottom-style: groove;
      border-color: rgba(100, 100, 100, 0.7);
    }
  }

  .now-playing {
    height: 35%;
    padding: 0 12px;
    border: none;

    p {
      display: inline-block;
      width: 91px;
      font-size: 17px;
    }
  }
}


@media only screen and (max-width: 787px) {

  .header-navigation nav {
    min-width: 60vw;
  }

  main {
    padding: 0;
  }
  .album-info img, .more-group-images {
    width: 90%;
    height: auto;
    margin: 0 auto 20px auto;
  }

  .more-group-images {
    grid-column-gap: 12px;
    grid-row-gap: 20px;

    img {
      margin: 0;
    }
  }

  .group-biography {
    padding: 0;
    font-size: .8rem;

    button {
      font-size: 1rem;
    }
  }

  .recommendations-and-playlist {

    .discography {
      margin-left: 27px;
    }
  }

  .recommendations {
    margin: 0 15px;
  }
}



@media only screen and (max-width: 710px) {
  .recommendations img {
    width: 120px;
    height: 120px;
  }
}




@media only screen and (max-height: 661px) {

  .main-logo {
    margin-top: 10px;
  }

  .nav-title {
    img {
      width: 32px;
      height: 24px;
    }

    p {
      font-size: 1.5rem;
    }
  }
}





@media only screen and (max-width: 580px) {

  .side-nav {
    top: 33px;
  }

  .track-time {
    display: none;
  }

  .adding-to-playlists {

    ul {
      top: -147px;
      height: 140px;
    }

    li {
      padding: 3px 0;
    }

    button {
      font-size: 13px;
    }
  }

  .now-playing p {
    display: none;
  }
}



@media only screen and (max-width: 536px) {

  .header-navigation {
    a {
      padding: 8px 15px;
      font-size: 11px;

      &.is_emphasized-header-item {
        padding: 6px 15px;
        font-size: 13px;
      }
    }
  }


  .logout-button {
    font-size: 10px;
  }

  .recommendations {
    justify-content: space-around;
  }

  .swiper-buttons {
    padding: 0 8px;
  }

  .volume-range {
    display: none;
  }

  .volume-low {
    display: none;
  }

  .shuffle-repeat {
    padding: 0 6px;

    button:nth-child(2) {
      display: none;
    }
  }

  .adding-to-playlists ul {
    left: unset;
    right: 0;
  }

}


@media only screen and (max-width: 410px) {

  .logout-button {
    display: none;
  }
}



@media only screen and (max-width: 385px) {

  .authorisation-block {
    margin-right: 10px;
  }

}



@media only screen and (max-width: 370px) {
  .recommendations-and-playlist {
    //height: 650px;
  }
}



@media only screen and (max-width: 340px) {
  .side-nav-toggle {
    min-width: 40px;
    margin: auto 0;
  }

  .header-navigation a {
    padding: 6px 8px;

    &.is_emphasized-header-item {
      padding: 6px 8px;
    }
  }

  .player-content {
    padding: 7px 0;
  }

  .current-album-cover {
    bottom: 38px;
    left: 8px;
    width: 35px;
    height: 35px;
  }

  .name-and-controller {
    padding-top: 4px;
  }

  .controller-full-block {
    margin-top: 5px;
  }

  .swiper-buttons {
    margin-left: 40px;
  }

}